/* Tailwind CSS v4 */
@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 15%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(0, 0%, 15%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 15%);
  --primary: hsl(0, 0%, 20%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(0, 0%, 97%);
  --secondary-foreground: hsl(0, 0%, 20%);
  --muted: hsl(0, 0%, 97%);
  --muted-foreground: hsl(0, 0%, 55%);
  --accent: hsl(0, 0%, 97%);
  --accent-foreground: hsl(0, 0%, 20%);
  --destructive: hsl(15, 60%, 55%);
  --destructive-foreground: hsl(15, 60%, 55%);
  --border: hsl(0, 0%, 92%);
  --input: hsl(0, 0%, 92%);
  --ring: hsl(0, 0%, 70%);
  --chart-1: hsl(41, 60%, 65%);
  --chart-2: hsl(184, 40%, 60%);
  --chart-3: hsl(227, 30%, 40%);
  --chart-4: hsl(84, 60%, 82%);
  --chart-5: hsl(70, 60%, 76%);
  --radius: 0.625rem;
  --sidebar: hsl(0, 0%, 98.5%);
  --sidebar-foreground: hsl(0, 0%, 15%);
  --sidebar-primary: hsl(0, 0%, 20%);
  --sidebar-primary-foreground: hsl(0, 0%, 98.5%);
  --sidebar-accent: hsl(0, 0%, 97%);
  --sidebar-accent-foreground: hsl(0, 0%, 20%);
  --sidebar-border: hsl(0, 0%, 92.2%);
  --sidebar-ring: hsl(0, 0%, 70.8%);
}

.dark {
  --background: hsl(0, 0%, 15%);
  --foreground: hsl(0, 0%, 98.5%);
  --card: hsl(0, 0%, 15%);
  --card-foreground: hsl(0, 0%, 98.5%);
  --popover: hsl(0, 0%, 15%);
  --popover-foreground: hsl(0, 0%, 98.5%);
  --primary: hsl(0, 0%, 98.5%);
  --primary-foreground: hsl(0, 0%, 20%);
  --secondary: hsl(0, 0%, 26.9%);
  --secondary-foreground: hsl(0, 0%, 98.5%);
  --muted: hsl(0, 0%, 26.9%);
  --muted-foreground: hsl(0, 0%, 70.8%);
  --accent: hsl(0, 0%, 26.9%);
  --accent-foreground: hsl(0, 0%, 98.5%);
  --destructive: hsl(25, 40%, 40%);
  --destructive-foreground: hsl(25, 60%, 63%);
  --border: hsl(0, 0%, 26.9%);
  --input: hsl(0, 0%, 26.9%);
  --ring: hsl(0, 0%, 43.9%);
  --chart-1: hsl(264, 50%, 48%);
  --chart-2: hsl(162, 40%, 69%);
  --chart-3: hsl(70, 50%, 76%);
  --chart-4: hsl(303, 50%, 62%);
  --chart-5: hsl(16, 50%, 64%);
  --sidebar: hsl(0, 0%, 20.5%);
  --sidebar-foreground: hsl(0, 0%, 98.5%);
  --sidebar-primary: hsl(264, 50%, 48%);
  --sidebar-primary-foreground: hsl(0, 0%, 98.5%);
  --sidebar-accent: hsl(0, 0%, 26.9%);
  --sidebar-accent-foreground: hsl(0, 0%, 98.5%);
  --sidebar-border: hsl(0, 0%, 26.9%);
  --sidebar-ring: hsl(0, 0%, 43.9%);
}

@layer base {
  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}