@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-theme-bg-color: #17212b;
  --tg-theme-secondary-bg-color: #0e1621;
  --tg-theme-text-color: #ffffff;
  --tg-theme-hint-color: #7f8c99;
  --tg-theme-link-color: #2481cc;
  --tg-theme-button-color: #2481cc;
  --tg-theme-button-text-color: #ffffff;
  --tg-list-bg: #1c2733;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.bg-telegram-dark { background-color: #17212b !important; }
.bg-telegram-list { background-color: #1c2733 !important; }
.text-telegram-hint { color: #7f8c99 !important; }
.text-telegram-link { color: #2481cc !important; }

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #242f3d;
  border-radius: 10px;
}

h1, h2, h3, p {
  margin: 0;
}
