@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-theme-bg-color: #17212b;
  --tg-theme-secondary-bg-color: #0e1621;
  --tg-theme-text-color: #ffffff;
  --tg-theme-hint-color: #7f8c99;
  --tg-theme-link-color: #2481cc;
  --tg-theme-button-color: #2481cc;
  --tg-theme-button-text-color: #ffffff;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #17212b;
  @apply antialiased;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #242f3d;
  border-radius: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}